ul,
li,
div,
h1,
h2 {
  padding: 0;
  margin: 0;
}

body {
  background: #f5f5f5;
}

.content {  
  width: 550px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  font: 14px 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

.todo {
  position: relative;
  background: white;
}

.header {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.new-todo {
  position: relative;
  width: 500px;
  height: 65px;
  padding-left: 50px;
  background: rgba(0, 0, 0, 0.003);
  border: none;
  outline: none;
  font-style: italic;
  font-size: 24px;
}

input::placeholder {
  color: #e6e6e6;
}

.todo-list {
  list-style: none;
}

.todo-item {
  position: relative;
  width: 490px;
  height: 58px;
  padding-left: 60px;
  line-height: 58px;
  font-size: 24px;
  background-image: url('img/uncheked.svg');
  background-repeat: no-repeat;
  background-position: left;
  border-top: solid 1px #ededed;
}

.todo-item__check {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.select-all__checkbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 42px;
  height: 64px;
  font-size: 20px;
  opacity: 0;
}

.todo-item_done {
  background-image: url("img/cheked.svg");
  color: #d9d9d9;
}

.todo-item__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 40px;
  color: rgba(175, 47, 47, 1);
  font-size: 30px;
  opacity: 0;
}

.todo-item__close:hover {
  opacity: .7;
}

.todo-item__close_visible {
  opacity: .5;
}

.todo-item__close::after {
  position: absolute;
  content: '×';
  top: -10px;
}

.select-all {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 67px;
  font-size: 20px;
  color: #e6e6e6;
  opacity: 0; 
}

.select-all_checked {
  color: #767676;
}

.select-all::after {
  position: absolute;
  z-index: 1000; 
  content: '❯';
  transform: rotate(90deg);
  top: 20px;
  left: 20px;
  opacity: 1;
}

.footer {
  display: none;
  position: relative;
  width: 550px;
  height: 50px;
  background-color: white;
  border-top: solid 1px #ededed;
  color: #777;
}

.counter {
  display: block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

@font-face  {
  font-family:"Helvtica-Neue";
  src: url("../fonts/Helvtica-Neue-Medium") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 

.button {
  display: block;
  position: absolute;
  top: 12px;
  height: 15px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  color: #777;
}

.button:hover {
  border-color: rgba(175, 47, 47, 0.2);
}

.button_selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.todo-item_nodisplay {
  display: none;
}

.button_all {
  width: 15px;
  left: 180px;
}

.button_active {
  width: 38px;
  left: 225px;
}

.button_completed {
  width: 67px;
  left: 288px;
}

.button_clear-сompleted {
  display: none;
  width: 110px;
  left: 420px;
  border: none;
}

.button_clear-сompleted:hover {
  width: 110px;
  left: 420px;
  border: none;
  text-decoration: underline;
}

.button_all__checkbox {
  display: none;
}

.button_active__checkbox {
  display: none;
}

.button_completed__checkbox {
  display: none;
}

.todo-item__label {
  display: block;
}

.todo-item__label_done {
  text-decoration: line-through;
}

.todo-item__input {
  display: block;
  width: 436px;
  height: 52px;
  font-size: 24px;
}

.todo-item__label_edited {
  display: none;
}

.todo-item__close_edited {
  display: none;
}

.todo-item_editd {
  background: none;
}

.hide_footer {
  display: block;
}

.show_button_clear-сompleted {
  display: block;
}

.select-all_visible {
  opacity: 1;
}
